  
# ignore data folder
train_data/

# ignore zip file
samir_labels/
samir_images-labelled.zip

# ignore saved models
models/
*.pth

# ignore saved test sets
model_test_sets/

# ignore ipynb_checkpoints
.ipynb_checkpoints

# ignore pycache
__pycache__

# profiling
fil-result/

# venv
venv/

# whls
*.whl
*.whl:Zone.Identifier
